/* ========== RESPONSIVE STYLES ========== */

@media screan and (width >=768px) {
    .header {
        max-width: 800px;

    }

    .scroll-top.visible {
        visibility: none;
    }

    @media (max-width: 1024px) {
        .services-grid {
            grid-template-columns: repeat(2, 1fr);
        }

        .providers-grid {
            grid-template-columns: repeat(2, 1fr);
        }

        .stats-grid {
            grid-template-columns: repeat(2, 1fr);
        }

        .process-grid {
            grid-template-columns: repeat(2, 1fr);
        }

        .process-grid::before {
            display: none;
        }

        .footer-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 768px) {
        .nav-links {
            position: fixed;
            top: 75px;
            left: 0;
            right: 0;
            background: var(--blanco);
            flex-direction: column;
            padding: 20px;
            box-shadow: var(--sombra);
            transform: translateY(-100%);
            opacity: 0;
            transition: var(--transicion);
            pointer-events: none;
        }

        .nav-links.open {
            transform: translateY(0);
            opacity: 1;
            pointer-events: all;
        }

        .dropdown-menu {
            position: static;
            box-shadow: none;
            opacity: 1;
            visibility: visible;
            transform: none;
            padding-left: 20px;
            display: none;
        }

        .dropdown.open .dropdown-menu {
            display: block;
        }

        .menu-toggle {
            display: flex;
        }

        .hero {
            height: 70vh;
        }

        .carousel-content h1 {
            font-size: 2rem;
        }

        .carousel-content p {
            font-size: 1rem;
        }

        .about-grid {
            grid-template-columns: 1fr;
        }

        .about-img {
            height: 350px;
        }

        .about-badge {
            right: 20px;
        }

        .services-grid {
            grid-template-columns: 1fr;
        }

        .stats-grid {
            grid-template-columns: 1fr 1fr;
        }

        .process-grid {
            grid-template-columns: 1fr 1fr;
        }

        .providers-grid {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: 480px) {
        .stats-grid {
            grid-template-columns: 1fr;
        }

        .process-grid {
            grid-template-columns: 1fr;
        }

        .providers-grid {
            grid-template-columns: 1fr;
        }

        .carousel-content h1 {
            font-size: 1.5rem;
        }

        .btn {
            padding: 12px 25px;
            font-size: 13px;
        }
    }